@media screen and (max-width: 2000px) {
   .pagewrap {
      width: 100%;
      max-width: 100%;
   }
   
   .container {
      max-width: 100%;
      width: 100%;
      padding: 0;
   }
   .header {
      height: auto;
   }
   .header_mobile {
      display: none;
   }
}

@media screen and (max-width: 1120px) {
   .pagewrap {
      width: 100%;
      margin: 0 auto;
   }
   .container {
      max-width: 100%;
      width: 100%;
      padding: 0;
   }
   .header {
      display: none;
      height: auto;
   }
 
   .header_mobile {
      display: block;
      padding: 10px 0 0 10px;
   }
}

@media screen and (max-width: 920px) {
   .pagewrap {
      width: 100%;
      margin: 0 auto;
   }
   .container {
      max-width: 100%;
      width: 100%;
      padding: 0;
   }
   .header {
      display: none;
      height: auto;
   }
 
   .header_mobile {
      display: block;
      padding: 10px 0 0 10px;
   }
}

@media screen and (max-width: 600px) {
   .pagewrap {
      width: 100%;
      
   }
   .container {
      max-width: 100%;
      width: 100%;
   }

   .header {
      display: none;
      height: auto;
   }
 
   .header_mobile {
      display: block;
      padding: 10px 0 0 10px;
   }

    nav { 
      height: auto;
    }
    nav ul {
      width: 100%;
      display: block;
      height: auto;
    }
    nav li {
      width: 50%;
      float: left;
      position: relative;
    }
    nav li a {
    border-bottom: 1px solid #576979;
    border-right: 1px solid #576979;
  }
    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
    }
   
}

@media screen and (max-width: 480px) {
   html {
      -webkit-text-size-adjust: none;
   }
   .pagewrap {
      width: 100%;
   }
   
   .container {
      max-width: 100%;
      width: 100%;
   }
   
   .header {
      display: none;
      height: auto;
   }
 
   .header_mobile {
      display: block;
      padding: 10px 0 0 10px;
   }

  nav {
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav a#pull {
    display: block;
    /*background-color: #283744;*/
    width: 100%;
    position: relative;
  }
  nav a#pull:after {
    content:" ";
    background: url('/img/burger_menu.png') no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 15px;
    top: 10px;
  }

}

@media only screen and (max-width : 320px) {
  nav li {
    display: block;
    float: none;
    width: 100%;
  }
  nav li a {
    border-bottom: 1px solid #576979;
  }
}