
.pagewrap {
  width: auto;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}
/* Header*/
.header {
  height: 62px;
  width: auto;
  background-color: #fff;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}

.header_mobile {

}

.menu-main {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
  background: url('burger_menu.png') no-repeat;
}

img.doctor_main {
  width: auto;
  height: auto;
  margin: -100px 0 0 0;
  padding: 0;
}

.logo {
  background-color: ;
  display: inline-block;
  /*text-align: center;*/
  width: 117px;
  height: 42px;
}

.img_logo {
   max-width: ;
   height: middle;
   width: auto\9; /* ie8 */
   margin: -5px 0 0 -30px;
}

.logo_popup {display:none;}
span:hover {word-spacing: 0} 
span:hover .logo_popup {
width: 200px;
padding: 10px;
text-align: center;
height: 30px;
background: #FFF5F4;
opacity: 0.85;
font-size: 11px;
display: block;
position: absolute;
margin-top: -60px;
border-radius: 0 0 10px 10px;
color: #AB274F;
z-index: 1;
}

.eye_popup {display:none;}
span:hover {word-spacing: 0} 
span:hover .eye_popup {
width: 180px;
padding: 5px;
text-align: center;
height: 30px;
background: #D6E9F9;
opacity: 0.85;
font-size: 11px;
display: block;
position: absolute;
margin-top: -50px;
border-radius: 0 0 10px 10px;
color: #2D9CDB;
z-index: 1;
}

/* Всплывающий текст на картинку */
.frame_slider {
  width: 100%;
  max-width: 450px; /* опционально */
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.frame_slider:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.frame_slider img {
  display: block;
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.frame_slider .caption {
  width: 100%;
  padding: 20px;
  color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: left;

}
.frame_slider .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.frame_slider .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.frame_slider .caption .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.frame_slider:focus:before,
.frame_slider:focus span, .frame_slider:hover:before,
.frame_slider:hover span {
  opacity: 1;
  background: #fff;
}
.frame_slider:focus:before, .frame_slider:hover:before {
  top: 35%;
}
.frame_slider:focus span, .frame_slider:hover span {
  top: 10px;
}
.frame_slider:focus .title, .frame_slider:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.frame_slider:focus .info, .frame_slider:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

img.launch_24px {
  display: inline-block;
}
/* Всплывающий текст на картинку */

.uslugi {
  background: url('img/burger_menu.png') no-repeat;
}

.phone {
  padding: 5px 0 0 0;
}

.location {

}

.menu_mobile {

}

/* Main Menu */
/* @import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed'); 
.menu {
  background-color: ;
  display: inline-block;
  text-align: center;
  width: 117px;
  height: 52px;
}

.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background: white;
}
ul.menu-main {
  margin: 7px 0 0 0;
}

.menu-main li {display: inline-block;}
.menu-main li:after {
  content: " ";
  color: #606060;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif; 
  letter-spacing: 2px;
  position: relative;
  margin: 0 10px 0 10px;
  font-size: 13px;
 text-transform: uppercase; 
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: -5px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   

@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
  }
} */
/* Main Menu */

/* Main Menu Mobile*/

nav {
  height: 40px;
  width: 100%;
  background: ;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  /*font-weight: bold;*/
  position: relative;
  /* border-bottom: 2px solid #283744; */
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: auto;
  height: 40px;
}

nav li {
  display: inline;
  float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav a {
  color: #2E2D31;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: ;
  /*text-shadow: 1px 1px 0px #283744;*/
}

nav li a {
  /* border-right: 1px solid #576979; */
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav li:last-child a {
  border-right: 0;
}

nav a:hover, nav a:active {
  background-color: ;
}

nav a#pull {
  display: none;
}

/* Main Menu Mobile*/

a.button_zapis {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .2em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #F27997;
  border-radius: 6px;
  background: linear-gradient(180deg, #F27997 0%, #C04D73 100%);
  transition: 0.2s;
}


a.button_zapis:hover { background: linear-gradient(180deg, #F27997 0%, #C04D73 100%); }
a.button_zapis:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


a.button_zapis_2 {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .2em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #F27997;
  border-radius: 6px;
  background: linear-gradient(180deg, #F27997 0%, #C04D73 100%);
  transition: 0.2s;
}


a.button_zapis_2:hover { background: linear-gradient(180deg, #F27997 0%, #C04D73 100%); }
a.button_zapis_2:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
/* Header*/



.main_slider {
  background: url('background_pink.png') no-repeat;
}

.mini_slider {
  width: auto;
  height: ;
  background-color: ;
}

.frame_slider {
  width: 245px;
  height: 179px;
  /* White */

  background: #FFFFFF;
  /* Shadow Card 2 */

  box-shadow: 0px 3px 15px rgba(29, 77, 161, 0.18);
  border-radius: 8px;



  background-color: ;
}

p.frame_slider {
/* H5.Desktop.Strong 16 */

font-family: Graphik LCG;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #383838;

font-weight:bold;

margin: 0 0 0 100px;

}

.diagnostika {
  background-color: #dfce58;
}

.utp {
  background-color: #dfce58;
}

.utp-2 {
  background-color: #dfce58;
}

.recomendation {
  background-color: #dfce58;
}

.about_clinic {
  background-color: #dfce58;
}

.big_slider {
  background-color: #dfce58;
}

.license {
  background-color: #99da44;
}

.doctors {
  background-color: #529653;
}

.question-answer {
  background-color: #529653;
}

.kartochka-slider {
  background-color: #554653;
}

.button_sugnup {
  background-color: #529753;
}

.tax-deduction {
  background-color: #529983;
}

.text_mini_images {
  background-color: #515653;
}

.otzivi {
  background-color: #548653;
}

.blog {
  background-color: #529953;
}

.block-zapis {
  background-color: #526653;
}

.block-zapis {
  background-color: #541653;
}

.footer {
   height: auto;
   width: 100%;
   background-color: #262626;
   margin:0 auto;
   align-items: center;
   color: #fff;
}

.poisk {
    padding: 0 10px 0 10px; 
   }

#searchform {
  margin: 0 auto;
  width: auto;
}

.search {
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем растягивается */
  width: 100%;
  /* padding-top: 30px; */
  border: 0;
  border-bottom: 1px solid #979797;
}

.search input {
  /* отключаем бордюры у инпутов */
  border: none;
}

/* стили для поля ввода */
.search .input {
  /* растягиваем поле ввода на всю ширину формы */
  width: 100%;
  padding: 0 0 0 0;
  font-family: Roboto, Regular;
  color: #626262;
  font-size: 16px;
  /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
  ** регулируем высоту формы
  ** внутренний отступ слева (37px) делаем больше правого,
  ** т.к. там будет размещена кнопка отправки */
  padding: 8px 15px 9px 50px;

  /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* добавляем внутренние тени */
  /* box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3); */

  /* закругляем углы */
  /* border-radius: 20px; 

  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;*/
  outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
  
  position: relative;
  width: 37px;
  height: 29px;
  cursor: pointer;
  margin: -35px 0 0 0;

  /* растягиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 50% no-repeat;

  /* добавляем прозрачность кнопке отправки */
  opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
  opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}

.img {
   max-width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}

.row.is-flex > [class*='col-'] .panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

hr {
  border: none; /* Убираем границу */
  background-color: #979797; /* Цвет линии */
  color: #979797; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 95%;
  color: #c10808;

}

.popup_content {
  padding: 15px 0 0 15px;
}

