* {
    margin: 0;
    padding: 0;
   }

.pagewrap {
  width: 100%;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}
/* Header*/
.header {
  height: 62px;
  width: auto;
  background-color: #fff;
  margin:0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 0 0;
}

.header_mobile {
  display: flex;
  
  justify-content: flex-end;
}

.menu-main {
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
  text-align: center;
  
}

.burger_menu {
  background: url('../img/burger_menu.png') no-repeat;
}

img.doctor_main {
  width: auto;
  height: auto;
  margin: -100px 0 0 0;
  padding: 0;
}

.logo {
  background-color: ;
  display: inline-block;
  /*text-align: center;*/
  width: 117px;
  height: 42px;
}

.img_logo {
   max-width: ;
   height: middle;
   width: auto\9; /* ie8 */
   margin: -5px 0 0 -30px;
}

.logo_popup {display:none;}
span:hover {word-spacing: 0} 
span:hover .logo_popup {
width: 200px;
padding: 10px;
text-align: center;
height: 30px;
background: #FFF5F4;
opacity: 0.85;
font-size: 11px;
display: block;
position: absolute;
margin-top: -60px;
border-radius: 0 0 10px 10px;
color: #AB274F;
z-index: 1;
}

.eye_popup {display:none;}
span:hover {word-spacing: 0} 
span:hover .eye_popup {
width: 180px;
padding: 5px;
text-align: center;
height: 30px;
background: #D6E9F9;
opacity: 0.85;
font-size: 11px;
display: block;
position: absolute;
margin-top: -50px;
border-radius: 0 0 10px 10px;
color: #2D9CDB;
z-index: 1;
}

/* Всплывающий текст на картинку */
.frame_slider {
  width: 100%;
  max-width: 450px; /* опционально */
  margin: 10px;
  opacity: .99;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
  cursor: pointer;
  -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.frame_slider:before {
  content: '';
  background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.7) 100%);
  width: 100%;
  height: 50%;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.frame_slider img {
  display: block;
  width: 100%; /* ширина картинки */
  height: auto; /* высота картинки */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
.frame_slider .caption {
  width: 100%;
  padding: 20px;
  color: #000;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  text-align: left;

}
.frame_slider .caption span {
  display: block;
  opacity: 0;
  position: relative;
  top: 100px;
  -webkit-transition-property: top, opacity;
  transition-property: top, opacity;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.frame_slider .caption .title {
  line-height: 1;
  font-weight: normal;
  font-size: 18px;
}
.frame_slider .caption .info {
  line-height: 1.2;
  margin-top: 5px;
  font-size: 12px;
}
.frame_slider:focus:before,
.frame_slider:focus span, .frame_slider:hover:before,
.frame_slider:hover span {
  opacity: 1;
  background: #fff;
}
.frame_slider:focus:before, .frame_slider:hover:before {
  top: 35%;
}
.frame_slider:focus span, .frame_slider:hover span {
  top: 10px;
}
.frame_slider:focus .title, .frame_slider:hover .title {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}
.frame_slider:focus .info, .frame_slider:hover .info {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}

img.launch_24px {
  display: inline-block;
}
/* Всплывающий текст на картинку */

.uslugi {
  background: url('../img/blue_background.png') no-repeat;
 
}

.uslugi h2{
font-family: Graphik LCG;
font-size: 44px;
line-height: 110%;
color: #383838;

padding: 30px 0 30px 0;;
}

.cmrt-centri {
width: 217px;
height: 280px;
background: #FFFFFF;
box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.1);
border-radius: 6px;
}

.ul_lomonosova p{
width: 195px;
height: 56px;
left: 99px;
top: 1296px;
font-family: Graphik LCG;
font-size: 14px;
line-height: 21px;
color: #383838;
}

.kolmov_nab p{
  width: 213px;
  height: 17px;
  left: 144px;
  top: 1288px;
  font-family: Graphik LCG;
  font-size: 14px;
  line-height: 21px;
  color: #2EA9E7;
}

.centri_nizh p{
  width: auto; 
  height: 44px; 
  left: 144px;
  top: 1203px; 
  font-family: Graphik LCG; 
  font-size: 16px; 
  line-height: 24px; 
  color: #383838; 
  font-weight:bold;
}

.look_maps {
width: auto;
height: 47px;
left: 85px;
top: 1365px;
background: linear-gradient(180deg, #EBF6FF 0%, #DAF0FF 100%);
border: 1px solid rgba(0, 0, 0, 0.04);
box-sizing: border-box;
border-radius: 8px;
}

.look_maps p{
font-family: Graphik LCG;
font-size: 14px;
line-height: 21px;
color: #2EA9E7;
text-align: center;
margin-top: 10px;
}

img.look_maps {
  width: 16px;
  height: 16px;
  left: 271px;
  top: 1378px;
}

/* search */
.poisk {
    padding: 0 0 0 0;
    display: inline-block;
    width: 100%;
   }

#searchform {
  margin: 0 auto;
  width: auto;
}

input.submit {
  display: inline-block;
}

.search {
  /* устанавливаем необходимую ширину формы в зависимости от дизайна
  ** форма без проблем растягивается */
  width: 100%;
  /* padding-top: 30px; */
  border: 0;
  /*border-bottom: 1px solid #979797;*/
}

.search input {
  /* отключаем бордюры у инпутов */
  width: 100%;
  border: none;
}

/* стили для поля ввода */
.search .input {
  /* растягиваем поле ввода на всю ширину формы */
  width: 85%;
  
  font-family: Roboto, Regular;
  color: #626262;
  font-size: 16px;
  /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
  ** регулируем высоту формы
  ** внутренний отступ слева (37px) делаем больше правого,
  ** т.к. там будет размещена кнопка отправки */
  padding: 8px 15px 9px 15px;

  /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  /* добавляем внутренние тени */
  /* box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3); */

  /* закругляем углы */
  /* border-radius: 20px; 

  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;*/
  outline: none;
}

/* меняем оформление поля ввода при фокусе */
.search .input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #E8E8E8;
  color: #333;
}

/* оформляем кнопку отправки */
.search .submit {
  
  position: relative;
  width: 37px;
  height: 29px;
  cursor: pointer;
  margin: -35px 0 -8px 0;

  /* растягиваем кнопку на всю высоту формы */
  height: 100%;

  cursor: pointer;
  background: url(../img/icon_search_24px.png) 50% no-repeat;

  /* добавляем прозрачность кнопке отправки */
  opacity: 0.5;
}

/* при наведении курсора меняем прозрачность кнопки отправки */
.search .submit:hover {
  opacity: 0.8;
}

/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}
/* search */

.title_uslugi p {
width: 145px;
height: 20px;
left: 370px;
top: 1206px;
font-family: Graphik LCG;
font-size: 16px;
line-height: 24px;
color: #383838;
font-weight: bold;
z-index: 10;
}

.ellipse {
width: 28px;
height: 27px;
display: table-cell;
text-align: center;
vertical-align: middle;
border-radius: 50%; /* may require vendor prefixes */
background: #e3effa;
display: inline-block;
}

.text_uslugi p {
width: 197px;
height: ;
left: 370px;
top: 1226px;

font-family: Graphik LCG;
font-size: 14px;
line-height: 100%;
display: flex;
align-items: center;

}

/* mrt diagnostika */

.diagnostika {
  background-color: ;
}

.mrt_diagnostika_1 {
width: 293px;
height: 195px;
left: -1.08px;
top: 22.68px;
}

.mrt_diagnostika_2 {
width: 187px;
height: 123px;
left: -20.08px;
top: -2.32px;
}

.mrt_diagnostika_3 {
width: 201.61px;
height: 135.01px;
left: 19.33px;
top: 242.05px;
}

.mrt_diagnostika_4 {
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;
border-radius: 12px;
}

img.img_mrt_diagnostika_1 {
  max-width:100%;

}

img.img_mrt_diagnostika_2 {
  max-width:100%;
  
  margin: -175px 0 0 310px;
  z-index: 1;
}

img.img_mrt_diagnostika_3 {
  max-width:100%;
 
  margin: -70px 0 0 15px;
  z-index: 1;
}

img.img_mrt_diagnostika_4 {
  max-width:100%;
  
  margin: -290px 0 0 200px;
  z-index: 1;
}

.title_diagnostika {
font-family: Graphik LCG;
font-size: 52px;
line-height: 57px;
display: flex;
align-items: center;
margin: 0 0 0 -50px;
}

.sub_title_diagnostika {
width: 421.85px;
height: 33px;
left: 533.16px;
top: 41.32px;
font-family: Graphik LCG;
font-size: 22px;
line-height: 33px;
display: flex;
align-items: center;
margin: 0 0 0 -50px;
}

.text_diagnostika {
height: auto;
left: 560.16px;
right: 43.84px;
top: 102px;
font-family: Graphik LCG;
font-size: 18px;
line-height: 28px;
display: flex;
align-items: center;
}

.title_preimuschestva {
width: 293px;
height: 26px;
left: 84px;
top: 2149px;
font-family: Graphik LCG;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
color: #2E2D31;
}

.text_GE_Signa_Echospeed_Plus {
width: auto;
height: 109.92px;
left: 625px;
top: 2173.74px;
font-family: Graphik LCG;
font-size: 18px;
line-height: 26px;
display: flex;
align-items: center;
color: #2E2D31;
}

.detail {
width: 198px;
height: 22.74px;
left: 499.57px;
bottom: 67.26px;
font-family: Graphik LCG;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;
text-align: right;
color: #5CAEE6;
}

img.img_GE_Signa_Echospeed_Plus {
  margin: -20px 0 0 -10px;
}

/* mrt giagnostika */


.phone {
  padding: 5px 0 0 0;
}

.location {

}

.menu_mobile {

}


nav {
  height: 40px;
  width: 100%;
  background: ;
  font-size: 11pt;
  font-family: 'PT Sans', Arial, sans-serif;
  /*font-weight: bold;*/
  position: relative;
  /* border-bottom: 2px solid #283744; */
}

nav ul {
  padding: 0;
  margin: 0 auto;
  width: auto;
  height: 40px;
}

nav li {
  display: inline;
  float: left;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav a {
  color: #2E2D31;
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  line-height: ;
  /*text-shadow: 1px 1px 0px #283744;*/
}

nav li a {
  /* border-right: 1px solid #576979; */
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav li:last-child a {
  border-right: 0;
}

nav a:hover, nav a:active {
  background-color: ;
}

nav a#pull {
  display: none;
}

/* Main Menu Mobile*/

a.button_zapis {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .2em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #F27997;
  border-radius: 6px;
  background: linear-gradient(180deg, #F27997 0%, #C04D73 100%);
  transition: 0.2s;
}


a.button_zapis:hover { background: linear-gradient(180deg, #F27997 0%, #C04D73 100%); }
a.button_zapis:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }


a.button_zapis_2 {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: .2em 1em;
  outline: none;
  border-width: 2px 0;
  border-style: solid none;
  border-color: #F27997;
  border-radius: 6px;
  background: linear-gradient(180deg, #F27997 0%, #C04D73 100%);
  transition: 0.2s;
}


a.button_zapis_2:hover { background: linear-gradient(180deg, #F27997 0%, #C04D73 100%); }
a.button_zapis_2:active { background: linear-gradient(#f59500, #f5ae00) #f59500; }
/* Header*/



.main_slider {
  background: url('background_pink.png') no-repeat;
}

.mini_slider {
  width: auto;
  height: ;
  background-color: ;
}

.frame_slider {
  width: 245px;
  height: 179px;
  /* White */

  background: #FFFFFF;
  /* Shadow Card 2 */

  box-shadow: 0px 3px 15px rgba(29, 77, 161, 0.18);
  border-radius: 8px;



  background-color: ;
}

p.frame_slider {
/* H5.Desktop.Strong 16 */

font-family: Graphik LCG;
font-size: 16px;
line-height: 24px;
/* identical to box height */

display: flex;
align-items: center;

color: #383838;

font-weight:bold;

margin: 0 0 0 100px;

}

/* utp */
.utp {
  background-color: ;

}

.utp_logo_1 {
  display: inline-block;
}

.utp_logo_2 {
  display: inline-block;
}

.utp_logo_3 {
  display: inline-block;
}

.utp_logo_4 {
  display: inline-block;
}

.restore_24px {
  margin: -20px 0 0 0;
}

.account_balance_wallet_24px {
  margin: -20px 0 0 0;
}

.event_24px {
  margin: -20px 0 0 0;
}

.brightness_4_24px {
  margin: -20px 0 0 0;
}

.utp_text_1 {
left: 68px;
right: 20px;
top: calc(50% - 42px/2 + 1px);
font-family: Graphik LCG;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #1173A8;
width: 100px;
height: 42px;
display: inline-block;
}

.utp_text_2 {
height: 42px;
left: 68px;
right: 20px;
top: calc(50% - 42px/2 + 1px);
font-family: Graphik LCG;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #1173A8;
width: 100px;
height: 42px;
display: inline-block;
}

.utp_text_3 {
left: 68px;
right: 20px;
top: calc(50% - 42px/2 + 1px);
font-family: Graphik LCG;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #1173A8;
width: 136px;
height: 42px;
display: inline-block;
}

.utp_text_4 {
left: 68px;
right: 20px;
top: calc(50% - 42px/2 + 1px);
font-family: Graphik LCG;
font-size: 14px;
line-height: 21px;
display: flex;
align-items: center;
color: #1173A8;
width: 136px;
height: 42px;
display: inline-block;
}

/* utp */

/* utp-2 */
.utp-2 {
  
  background-color: ;
}

.title_preimuschestva {
width: 293px;
height: 26px;
left: 84px;
top: 2149px;
font-family: Graphik LCG;
font-size: 18px;
line-height: 25px;
display: flex;
align-items: center;
color: #2E2D31;
font-weight: bold;
}

.text_preimuschestva {
width: auto;
height: auto;
left: 84px;
top: 2190px;
font-family: Graphik LCG;
font-size: 18px;
line-height: 26px;
display: flex;
align-items: center;
color: #2E2D31;
}

/* utp-2 */

.recomendation {
  background-color: ;
}

.title_recomendation {
width: auto;
height: auto;
font-family: Graphik LCG;
font-size: 24px;
line-height: ;
color: #000000;
}

.text_recomendation {
width: auto;
height: auto;
font-family: Graphik LCG;
font-size: 18px;
line-height: 156%;
display: flex;
align-items: center;
color: #000000;
padding: 15px 0 15px 0;
}

.number_recomendation {
font-family: Graphik LCG;
font-size: 18px;
line-height: 156%;
display: flex;
align-items: center;
color: #0086CF;
vertical-align:top;
margin: 0 0 0 0;
}

.about_clinic {
  background-color: #dfce58;
}

.big_slider {
  background-color: #dfce58;
}

.license {
  background-color: #99da44;
}

.doctors {
  background-color: #529653;
}

.question-answer {
  background-color: #529653;
}

.kartochka-slider {
  background-color: #554653;
}

.button_sugnup {
  background-color: #529753;
}

.tax-deduction {
  background-color: #529983;
}

.text_mini_images {
  background-color: #515653;
}

.otzivi {
  background-color: #548653;
}

.blog {
  background-color: #529953;
}

.block-zapis {
  background-color: #526653;
}

.block-zapis {
  background-color: #541653;
}

.footer {
   height: auto;
   width: 100%;
   background-color: #262626;
   margin:0 auto;
   align-items: center;
   color: #fff;
}



.img {
   max-width: 100%;
   height: auto;
   width: auto\9; /* ie8 */
}

.row.is-flex > [class*='col-'] .panel {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
}
.row.is-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row.is-flex {
    display: flex;
    flex-wrap: wrap;
}

hr {
  border: none; /* Убираем границу */
  background-color: #979797; /* Цвет линии */
  color: #979797; /* Цвет линии для IE6-7 */
  height: 1px; /* Толщина линии */
  width: 95%;
  color: #c10808;

}

.popup_content {
  padding: 15px 0 0 15px;
}

